WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v15/ipch/AutoPCH/WIN32SIMPLESAMPLE-b61102aa/TOOLMAIN-9ab8bee5/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/e4886189-c9a5-40f9-b96b-0158bcbd5345.vsidx
WOFFCEdit/.vs/Win32SimpleSample/FileContentIndex/read.lock
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v17/.suo
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db-shm
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.db-wal
WOFFCEdit/.vs/Win32SimpleSample/v17/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/4b80aab3ecae4e90/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/6823332aae99ed42/MAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/8de60044365ff799/GAME.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/b5f4b71983beff1a/MFCFRAME.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/ecd3d29fbe41399a/MFCMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/fileList.bin
